* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FFF8F3 /*: light orange*/;
}
.navbar1 {
    /*height: 12;
    overflow: hidden;*/
    background-color: rgba(63,40,22,0.3);
    width: max-content;
    display: block;

    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 83vh;
    display: flex;
    backdrop-filter: blur(15px);
}
.navbar1 ul {
    list-style: none;
    display: flex;
    padding: 0;;
    margin: 0;
}
.navbar1 ul li {
    padding: 10px;
    font-size: 17px;


}
.navbar1 ul li a {
    text-decoration: none; 
    color:white;

}
.navbar1 a:hover {
    color: #e57825;
    transition: 0.3s ease;
}
