*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth ;
}
/*body*/
body{
    background-color:#FFF8F3; 
}


/*navbar*/
/*space btw top nd the navbar*/
.navbar{

    overflow: hidden;
}
/* no bullets && Center alignment*/
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*nav is inside header*/
header{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: rgba(255, 248, 243, 0.9);
    z-index: 99999;
}
/*space btw nav options*/
.navbar ul li{
    padding:17px;
    font-size: 18px;

}
/*no text style && color && font family of nav*/
.navbar ul li a{
    text-decoration: none;
    color:#ff5100/*#FAEEE7*/;
    font-family: 'Roboto', sans-serif;

}
/*on hover of nav fonts*/
.navbar a:hover {
    color: black;
    transition: 0.3s ease;
}
/*sticky nav*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2 0;
}
/*whole home page*/
.div1{
    height: 70vh;
    background-repeat: none;
}

/*Hi I'm Rosh*/
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45vh;
    color:#1C6DD0;
    font-family: 'Staatliches';
    font-size: 40px;

}
.mid h1{
    display:flex;
    justify-content: center;
    align-items: center;
    
    width:300px
}
/*Section 2*/
.sec2{
    height:100vh;
    background-color:#FAEEE7;
}

@media screen and (max-width: 400px) {
}